# データの永続化
## SQLite
* 軽量データベースを実装するc言語のライブラリ
* サーバ用のプロセスが不要, 組み込み型のデータベースエンジン.
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [ ]:
# DBファイルの保存先パス（ローカルの場合、相対パスで指定）
path = ''

# DBファイルの保存先パス（colabの場合）
# path = '/content/drive/MyDrive/dsprog2_2025/lecture-1/'
# content直下の場合
# path = '/content/ファイル名'

# DBファイル
db_name = 'test.db'

# DB接続
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
### car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

## テーブルを作成

In [ ]:
path = ''
db_name = 'car.db'

try: 
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT, name TEXT, prince REAL);'

    # SQLの実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（単一レコード）

In [4]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (値1, 値2, ...);
    # 文字列データを挿入する場合はシングルクォート(')で囲む必要がある
    sql = "INSERT INTO cars (id, name, prince) VALUES (1, '370z', 7000000);"

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
    
finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（複数レコード）

In [5]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # 複数レコードの挿入
    # INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (列に対応したプレースホルダーをカンマ区切りで);
    sql = "INSERT INTO cars (id, name, prince) VALUES (?, ?, ?);"

    cars = [
        (2, 'Mustang', 8000000),
        (3, 'Camaro', 7500000),
        (4, 'Challenger', 8200000)
    ]

    # SQLの実行（複数レコードの場合）
    cur.executemany(sql, cars)

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
    
finally:
    # DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT カラム1, カラム2, ... FROM テーブル名 WHERE 条件;
    sql = "SELECT * FROM cars;"

    # SQLの実行
    cur.execute(sql)

    # # 変更をDBに反映
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    # 取得したデータを表示
    for row in cur:
        # 行データ（row）はタプルなので、アンパックして列データを取得
        id, name, prince = row
        print(id, name, prince)
    
finally:
    # DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
2 Mustang 8000000.0
3 Camaro 7500000.0
4 Challenger 8200000.0

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE 条件;
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = 'Mustang';"
    # 末尾がが部分一致するデータを削除
    # sql = "DELETE FROM cars WHERE name = '%カレラ;"  

    # SQLの実行
    cur.execute(sql)

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
    
finally:
    # DBへの接続を閉じる
    conn.close()

### データの更新

In [8]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET カラム1 = 値1, カラム2 = 値2, ... WHERE 条件;
    sql_update = "UPDATE cars SET prince = ? WHERE id = ?;"

    # SQLの実行
    cur.execute(sql_update, (5000000, 2))

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
    
finally:
    # DBへの接続を閉じる
    conn.close()